body{
  background-image: url(../images/fondo.png);
}
h1{
  font-size: 5rem;
  color: rgb(0, 0, 0);
  text-align: center;
}
.container-fluid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}




